
  body {
      font-size: 15px;
      background: url(../image/banner.jpg);
      background-size: cover;
  }

  fieldset {
    
      background-color: rgba(41, 39, 39, 0.46);;
      width: 450px;
      margin: 300px auto;
      border: 1px solid #ccc;
      box-shadow: 0px 35px 44px -22px #1f181b;
  }
label{
    color: #ccc;
}
  legend {
      margin-left: 180px;
  }

  p {
      margin: 20px auto;
  }
  .p1{
      margin-left: 30px;
  }
  .p2{
      margin-left: 15px;
  }
  /*input框*/
  .txt {
    color:black;
      border: 1px solid orange;
      width: 150px;
      padding-left:5px;
  }

  span {
      color: #df5799;
      font-size: 13px;
  }

  #box1 > p > input {
      margin-left: 100px;
  }
  
  #box1 > p{
      margin-left: 330px;}


  /* 主体广告部分 */
#gg{
        position: absolute;
        top:50px;
        left: 500px;
        width: 400px;
        height: 650px;
        background-image: url(../image/lejun.jpg); 
        background-size: cover;
      }
#showg{
    color:black;
}

#img1
        {
            position: absolute;
            top: 100px;
        }

